export DB_SCHEMA=addressbook_db
export DB_USER=addressbook_user
export DB_PASSWORD=addressbook_user_password
export DB_HOST=addessbook-db.do_user_code.ondigitalocean.com
export DB_PORT=20123
export DB_SSL=true
export PORT=3000
